{% extends "base.html" %}

{% block titulo %}
Lista de Perfis
{% endblock titulo %}


{% block conteudo %}
<h1>Perfis</h1>
<a class="btn btn-sm btn-success" href="{% url 'perfil_create' %}">Criar Novo Perfil</a>

<table class="table">
    <thead>
    <tr>
    <th width="10%">ID</th>
    <th width="10%">Foto</th>
    <th width="60%">Nome</th>
    <th width="20%">Ações</th>
    </tr>
    </thead>

    <tbody>
    {% for perfil in perfis %}
    <tr>
        <td><a href="{% url 'perfil_detail' perfil.pk %}">{{ perfil.id }}</a></td>
        <td>
            <img src="{{ perfil.foto.url }}" alt="{{ perfil.nome }}" class="img-thumbnail" width="50%" >            
        </td>
        <td><a href="{% url 'perfil_detail' perfil.pk %}">{{ perfil.nome }}</a></td>
        <td>
            <a class="btn btn-sm btn-primary" href="{% url 'perfil_update' perfil.pk %}">Editar</a>
            <form action="{% url 'perfil_delete' perfil.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button class="btn btn-sm btn-danger" type="submit">Deletar</button>
            </form>            
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock conteudo %}
