{% extends "base.html" %}

{% block titulo %}
{% if form.instance.pk %}Editar Perfil{% else %}Novo Perfil{% endif %}
{% endblock titulo %}


{% block conteudo %}
<h1>{% if form.instance.pk %}Editar Perfil{% else %}Novo Perfil{% endif %}</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success" type="submit">Salvar</button>
</form>
<a class="btn btn-info" href="{% url 'perfil_list' %}">Cancelar</a>
{% endblock conteudo %}
